# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
node_modules
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/Vapor.AkikoCharaCard.png
uploads/main_horikita-suzune_tavern.png
public/discord/discordBot.json
public/discord/discordBot.json
uploads/Aqua.card.png
uploads/Akiko.card.png
*.log
public/character_info/1686347758384.json
public/character_info/1686347732072.json
public/character_images/1686347758384.png
public/character_images/1686347732072.png
