@charset "UTF-8";
/* Import the base styles for Tailwind */
@import 'tailwindcss/base';

/* Import the component styles for Tailwind */
@import 'tailwindcss/components';

/* Import the utility styles for Tailwind */
@import 'tailwindcss/utilities';

/* 
Broadly used CSS 
*/
:root {
	--transparent:	rgba(0,0,0,0);
	--black30a:		rgba(0,0,0,0.3);
	--black50a:		rgba(0,0,0,0.5);
	--black70a:		rgba(0,0,0,0.7);
	--black100:		rgba(0,0,0,1);
	
	--white30a:		rgba(255,255,255,0.3);
	--white50a:		rgba(255,255,255,0.5);
	--white70a:		rgba(255,255,255,0.7);
	--white100:		rgba(255,255,255,1);
	
	--grey10:		rgb(25,25,25);
	--grey30:		rgb(75,75,75);
	--grey50:		rgb(125,125,125);
	--grey70:		rgb(175,175,175);
	
	--fullred:		rgba(255,0,0,1);
	--crimson70a:	rgba(100,0,0,0.7);
	--cobalt30a:	rgba(100,100,255,0.3);
	--sienna:		rgb(210,100,40);
	--orangered:	rgb(255,90,0);
	--greyCAIbg:	rgb(36,36,37);
	--ivory:		rgba(229,224,216,1);
}

:root {
	--selected-background: url('public/backgrounds/dark_cherryblossoms.jpg');
	--selected-italic-color: rgba(255, 255, 255, 0.636);
	--selected-color: rgba(11, 11, 11, 0.636);
	--selected-text-color: white;
	--selected-bb-color: rgba(11, 11, 11, 0.636);
}

.loading {
margin-top: .5rem;
display: flex;
flex-direction: row;
}

.loading__letter {
font-weight: bolder;
letter-spacing: .5rem;
text-transform: uppercase;
animation-name: bounce;
animation-duration: 1s;
animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
animation-delay: .1s;	
}
.loading__letter:nth-child(3) {
animation-delay: .2s;
}

@keyframes bounce {
0% {
	transform: translateY(0px)
}
40% {
	transform: translateY(-1rem);
}
80%,
100% {
	transform: translateY(0px);
}
}

@media (max-width: 700px) {
.loading__letter {
	font-size: 50px;
}
}

@media (max-width: 340px) {
.loading__letter {
	font-size: 40px;
}
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}
.pop-in {
	animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes popIn {
0% {
	opacity: 0;
	transform: scale(0.7);
}
100% {
	opacity: 1;
	transform: scale(1);
}
}
  
@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
body {
  background-image: var(--selected-background);
  margin: 0;
	padding:0;
	width: 100%;
  height: 100%;
  background-color: var(--selected-background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	font-family: "Noto Sans", "Noto Color Emoji", sans-serif; 
	font-size:16px; /*1rem*/
	color: var(--selected-text-color);
	
}
@media (max-width: 900px) {
	html { font-size: 16px; }
  }
  
  @media (max-width: 400px) {
	html { font-size: 12px; }
  }

@media screen and (max-width: 450px) {	
    body {
     margin-left: auto;
	 margin-right: auto;
	 overflow-x: hidden; 
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .content {
        width: 100%;
    }
 }

 ::-webkit-scrollbar {
    width: 0.6em;   
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(106, 106, 108, 0.3);
    border-radius: 5px;
}

#model-left {
    width: auto;
    height: 35rem;
    position: fixed;
    bottom: 0;
    left: 2rem;
    margin-bottom: 0%;
    z-index: 3;
	background-color: transparent;
}
#model-right {
    width: auto;
    height: 35rem;
    position: fixed;
    bottom: 0;
    right: 2rem;
    margin-bottom: 0%;
    z-index: 3;
	background-color: transparent;
}

.centered{
	width: fit-content;
	margin: 1.5rem auto;
	color: var(--selected-text-color);
}

.button {
	justify-content: center;
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 15px;
	width: auto;
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	height: auto;
	cursor: pointer;
}

.modal-overlay {
	position: fixed;
	top: 0 ;
	left: 0;
	width: 100% ;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.39); /* semi-transparent black background */
	display: flex;
	align-items: center;
	backdrop-filter: blur(5px);
	justify-content: center;
	z-index: 9999; /* make sure the modal is on top of other content */
	overflow-y: scroll;
}

.top-modal-overlay {
	position: fixed;
	top: 0 ;
	left: 0;
	width: 100% ;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.39); /* semi-transparent black background */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999; /* make sure the modal is on top of other content */
	overflow-y: scroll;
}

.close {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	color: var(--selected-text-color);
	font-size: 28px;
	font-weight: bold;
}

.close:hover {
    color: rgba(179, 6, 6, 0.636);
}

.container {
	display: flex;
	flex-direction: column;
	margin-left: 15rem; /* converted from 15% */
	margin-right: 15rem; /* converted from 15% */
}

.form-bottom-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 35rem;
	margin-top: 3rem; /* converted from 5% */
	margin-bottom: 0;
}

.react-icon,
.hero-icon {
  width: 100%;
  height: 100%;
}
#inputValue {
	color: var(--selected-text-color);
	background-color: var(--selected-color);
	border-radius: 2px;
	border: 2px solid gray;
}
.connected {
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(0, 255, 0, 0.158);
	border-radius: .25rem;
	padding: 3px;
	border: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	width: min-content;
	height: min-content;
	color: #00ff00c0;
}
.disconnected {
	margin: 0;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(255, 0, 0, 0.185);
	border-radius: .25rem;
	padding: 3px;
	border: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	width: min-content;
	height: min-content;
	color: #ff0000;
}

/* Add this in customMarkdownStyles.css */

/* Style for inline code */
code {
	white-space: pre-wrap;
	word-wrap: break-word;
	display: inline-block;
	max-width: 100%;
	background-color: #1312127c; /* Change this color to your preference */
	padding: 2px 4px;
	border-radius: 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
  }

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #1312123a; /* Change this color to your preference */
	padding: 8px;
	border-radius: 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	overflow: auto;
}

.icon-button {
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: .7em;
	width: 4rem;
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	justify-content: center;
	cursor: pointer;
}
.icon-button:hover {
    background-color: rgb(6, 136, 168);
}

.icon-button-small {
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: .7em;
	width: 2.5rem;
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	justify-content: center;
	cursor: pointer;
}
.icon-button-small:hover {
    background-color: rgb(6, 136, 168);
}

.Live2D-canvas {
    position: fixed;
    bottom: 0;
    right: 200px;
    margin-bottom: 0%;
    z-index: 0;
	background-color: transparent;
}

@media only screen and (min-width: 281px) and (max-width: 896px) {
	#model-right {
		width: auto;
		height: 15rem;
		position: fixed;
		bottom: 6rem;
		right: 2rem;
		z-index: 3;
	}
	#model-left {
		width: auto;
		height: 15rem;
		position: fixed;
		bottom: 6rem;
		left: 2rem;
		z-index: 3;
	}
	.container {
		margin-left: 0;
		margin-right: 0; 
	}
}
@media only screen and (max-width: 280px) {
	#model-right {
		width: auto;
		height: 15rem;
		position: fixed;
		bottom: 7rem;
		right: 2rem;
		z-index: 3;
	}
	#model-left {
		width: auto;
		height: 15rem;
		position: fixed;
		bottom: 7rem;
		left: 2rem;
		z-index: 3;
	}
	.container {
		margin-left: 0;
		margin-right: 0; 
	}
}
/* 
Settings Pages CSS
*/
.settings-panel {
	margin-top: 3%;
	gap: 2rem;
	background-color: var(--selected-color);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	padding: 3px;
	backdrop-filter: blur(10px);
	border: none;
	padding: 1%;
	color: var(--selected-text-color);
	margin-left: 5%;
	margin-right: 5%;
}

#endpoint-container {
	color: black;
}

#input-container {
	border: none;
	width: fit-content;
}

.settings-panel-header {
	width: fit-content;
	margin: 2% auto;
	border: none;
	background-color: var(--selected-bb-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 1%;
	color: var(--selected-text-color);
}
.settings-panel h1{
	position: absolute; /* add position property */
	z-index: 2; /* add z-index property */
	top: 10px;
	left: 10px;
	right: 10px;
	text-align: center;
	color: var(--selected-text-color);
	font-size: 24px;
	text-shadow: 0 0 5px black;
}
.settings-box {
	width: 100%;
	background-color: var(--selected-bb-color);
	border-radius: 10px;
	backdrop-filter: blur(10px);
	padding: 2rem;
	border: none;
	color: var(--selected-text-color);
	justify-content: center;
	height: max-content;
}
.settings-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.settings-box-content {
	color: var(--selected-text-color);
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 2rem;
}

.settings-box-large {
	margin-top: .5rem;
	background-color: none;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	padding: 2rem;
	border: none;
	color: var(--selected-text-color);
	justify-content: center;
	width: 50rem;
}
.settings-box-large h2{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	width: fit-content;
	color: var(--selected-text-color);
	justify-content: center;
}

.settings-box-input{
	display: flex;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	border: 2px solid gray;
	background-color: var(--selected-bb-color);
	color: var(--selected-text-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(57, 57, 57, 0.737);
	backdrop-filter: blur(10px);
}

.connect-button{
	margin-top: 15px;
	background-color: var(--selected-bb-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 10px;
	border: 2px solid gray;
	width: min-content;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	justify-content: center;
	height: auto;
	cursor: pointer;
}
.connect-button:hover {
    background-color: rgb(6, 136, 168);
}

/* For tablets and smaller devices */
@media only screen and (min-width: 401px) and (max-width: 896px) {
	.settings-panel {
		flex-direction: row;
		gap: 5rem;
		margin-top: 3%;
		border-radius: 0;
		padding: 1%;
		margin-left: 0;
		margin-right: 0;
	  }
	.settings-box {
		width: 100%;
		background-color: var(--selected-bb-color);
		border-radius: 10px;
		backdrop-filter: blur(10px);
		padding: 2rem;
		/* padding-top: 20rem;
		padding-bottom: 20rem; */
		color: var(--selected-text-color);
		justify-content: center;
	}
}

/* For mobile devices */
@media only screen and (max-width: 400px) {
	.settings-panel {
		display: flex;
		flex-direction: row;
		gap: 5rem;
		margin-top: 3%;
		border-radius: 0;
		padding: 1%;
		margin-left: 0;
		margin-right: 0;
	  }
	  .settings-box {
		width: 100%;
		background-color: var(--selected-bb-color);
		border-radius: 10px;
		backdrop-filter: blur(10px);
		padding: 2rem;
		padding-top: 20rem;
		padding-bottom: 20rem;
		color: var(--selected-text-color);
		justify-content: center;
	}
}
/* 
Characters Page CSS
*/
.chara-search-bar input{
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	justify-content: flex-start;
	padding: 15px;
	border: 2px solid gray;
	background-color: var(--selected-bb-color);
	color: var(--selected-text-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(57, 57, 57, 0.737);
	backdrop-filter: blur(10px);
}
.character-field {
	background-color: var(--selected-bb-color);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	overflow-wrap: break-word;
	resize: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
}
  
.character-field textarea {
	height: fit-content;
	min-height: 50px;
	overflow-y: auto;
	border: 2px solid gray;
	color: var(--selected-text-color);
	outline: none;
	margin-top: 10px;
	resize: none;
}
  
.character-field textarea:focus {
	outline: none;
	resize: none;
	box-shadow: none;
}

.character-form {
	background-color: var(--selected-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	color: var(--selected-text-color);
}

#character-avatar {
	padding: 10px;
	word-wrap: break-word;
	cursor: pointer;
	width: 22.5rem;
	aspect-ratio: 1/1.5;
	border-radius: 10%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	object-fit: cover;
}
#character-avatar-form {
	flex-shrink: 0;
	padding: 10px;
	word-wrap:break-word;
	cursor: pointer;
	height: 28em;
	width: auto;
	border-radius: 10%;
	overflow: hidden;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
}

#avatar-default {
	flex-shrink: 0;
	padding: 10px;
	word-wrap:break-word;
	height: 21.875em;
	width: 21.875em;
	cursor: pointer;
	border-radius: 10%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: var(--selected-color);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#avatar-field {
	position: absolute;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
  }

.character-display {
	padding-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* set the column width and make them flexible */
	gap: 20px; /* set the gap between the columns */
}
  
.character-info-box {
	border-radius: 10%;
	background-color: var(--selected-bb-color);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
}

.character-info-box h2{
	text-shadow: 5px 5px 10px black;
}

.button-container {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.character-info-box:hover .button-container,
.character-info-box:focus-within .button-container {
  display: flex;
  opacity: 1;
}
/* Chat CSS */
.selected-bb-color {
	background-color: var(--selected-bb-color);
  }
.backdrop-blur-md {
	backdrop-filter: blur(10px);
}
.chat-selection-menu {
	position: relative;
	overflow-y: auto;
	margin: auto;
	width: 50%;
	background-color: var(--selected-color);
	border: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 15px;
	color: var(--selected-text-color);
}

.chat-management-buttons {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	gap: 1rem;
}

.chat-management-button {
	background-color: rgba(11, 11, 11, 0.636);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	justify-content: center;
	cursor: pointer;
}

.chat-title {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 0; /* Add this line to remove default margins */
}

.title-wrapper {
    flex-grow: 1; /* Allows the wrapper to grow and fill available space */
    padding-right: 1rem; /* Adds some padding between the title and buttons */
    min-width: 0; /* Fixes an issue with flexbox and overflow */
	display: flex; /* Add this line */
    align-items: center; /* Add this line */
    justify-content: center; /* Add this line */
}
.create-conversation-menu {
	width: max-content;
	background-color: var(--selected-color);
	border: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 15px;
	color: var(--selected-text-color);
	flex-shrink: 0;
}	
#dropdown {
	width: 10rem;
	margin-bottom: 0rem;
	margin-top: -3rem;
	margin-right: 10vh;
	font-size: 14px;

}

#FiImage:hover,
#FiMenu:hover,
#FiSend:hover,
#FiSliders:hover{
	position: flex;
	flex-direction: row;
	width: 18px;
	cursor: pointer;
	color: var(--selected-text-color);
	font-size: 21px;
}

.sent-image {
	padding: 10px;
	word-wrap:break-word;
	cursor: pointer;
	height: 350px;
	border-radius: 10%;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	object-fit: cover;
}

.select-button {
	background-color: rgba(6, 136, 168, 0.308);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 15px;
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	justify-content: center;
	cursor: pointer;
}
.select-button:hover {
	background-color: rgb(6, 136, 168);
}

.conversation-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0;
	width: 100%;
	height: 100%;
}
.conversation-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px; /* Reduce the gap between elements */
    margin: 0;
    padding: 4px; /* Reduce the padding around the content */
    border-radius: 0.25rem;
    border-style: ridge;
    border-color: #7272726c;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 10rem;
    overflow-y: auto;
}

.conversation-info b {
    margin-bottom: 2px; /* Reduce the margin below the conversation name */
}

.conversation-info p {
    margin: 0; /* Remove margin from the p elements */
}

.participant-list {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Reduce the gap between participants */
    margin-top: 4px; /* Add a small margin between "Participants:" and the list */
}

.chat-button {
	background-color: transparent;
	backdrop-filter: blur(100%);
	border-radius: 10px;
	color: var(--selected-text-color);
	border: none;
	outline: none;
	width: 2.5rem;
}

.message-button:hover {
	cursor: pointer;
	font-size: 21px;
}
#authors-note{
	height: 15rem;
}
/* For tablets and smaller devices */
@media only screen and (min-width: 417px) and (max-width: 896px) {
	.connect-chat-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#input {
		width: 60rem;
		cursor:text;
		font-size: 20px;
	}
	.message-box {
		width: 100%;
		padding: .5rem;
		margin-right: auto;
		margin-left: auto;
	}
	.input-box {
		width: 100%;
		padding: .5rem;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		box-sizing: border-box;
		font-size: 20px;
	}
}

/* For mobile devices */
@media only screen and (max-width: 416px) {
	#input {
		width: 60rem;
		cursor:text;
		font-size: 20px;
	}
	.connect-chat-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.input-box {
		width: 100%;
		margin: 0;
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		position: fixed; 
		bottom: 0; 
		left: 0;
		box-sizing: border-box;
		border-radius: 0;
		backdrop-filter: none;
		font-size: 20px;
	}
	.message-box {
		width: 100%;
		margin: 0;
		padding: .5rem;
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		padding-bottom: calc(.5rem + 56px);
		border-radius: 0;
		backdrop-filter: none;
	}
}
/* Dicord Bot CSS */
.discord-button {
	background-color: var(--selected-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	padding: 1em;
	width: 6rem;
	border: 2px solid gray;
	outline: none;
	color: var(--selected-text-color);
	word-wrap: normal;
	justify-content: center;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	margin-bottom: 2rem;
  }
  
  .discord-button-confirm {
	background-color: green;
	margin-top: 1rem;
	padding: 0.5rem;
	border: 2px solid gray;
	margin-bottom: 2rem;
	outline: none;
	width: auto;
  }
  
  .discord-button:hover {
	background-color: rgb(6, 136, 168);
  }
  
  .discord-button-on {
	background-color: green;
  }
  
  .discord-logo {
	color: #7289DA;
	font-size: 3rem;
	margin-bottom: 1rem;
  }
  
  /* @media (max-width: 640px) {
	.settings-panel {
	  flex-direction: column;
	  padding: 2rem;
	}
	.settings-box {
	  flex-direction: column;
	  height: 1rem;
	}
	.discord-logo {
	  font-size: 4rem;
	}
  }
   */
  
  /* .settings-panel {
	display: flex;
	align-items: stretch;
  } */
  
  .settings-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  
  }
  
  .settings-box .input-group {
	display: flex;
	align-items: center;
  }
  
  .settings-box input[type="text"] {
	margin-top: 1rem;
	padding: 0.5rem;
	border: 2px solid gray;
	margin-bottom: 2rem;
	outline: none;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 1.2rem;
  }
  
  .settings-box input[type="text"]:focus {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .settings-box input[type="text"]:hover {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .settings-box input[type="text"]:active {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .settings-box input[type="password"] {
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	margin-bottom: 2rem;
	border: 2px solid gray;
	outline: none;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 1.2rem;
  }
  
  
  .settings-box input[type="password"]:hover {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .settings-box input[type="password"]:active {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .channels-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
  }
  
  
  .channels-box input[type="text"] {
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: 2px solid gray;
	outline: none;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	font-size: 1.2rem;
  }
  
  .channels-box input[type="text"]:focus {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .channels-box input[type="text"]:hover {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  .channels-box input[type="text"]:active {
	background-color: rgba(255, 255, 255, 0.4);
  }
  
  
  
  .settings-panel {
	/* your styles */
	position: relative;
  }
  
  .save-box {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: green;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
  }
  
  .save-button {
	background-color: transparent;
	border: 2px solid gray;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
  }
  
  
  
  @media (max-width: 640px) {
	.settings-panel {
	  flex-direction: column;
	  padding: .5rem;
	  padding-left: 3rem;
	  padding-right: 3rem;
	}
	.settings-box {
  
	} 
	.discord-logo {
	  font-size: 4rem;
	}
  }
  
  .input-group button {
	margin-left: 1rem;
  }  